In [2]:
import pandas as pd
import numpy as np
import os

# Read data

In [3]:
dir_usda = r"D:\US_CornSoy_ClassificationYield\TabularData"
usda_area = pd.read_csv(os.path.join(dir_usda, "US_County_CornSoy_Area.csv"))

In [25]:
usda_area.head(2)

,Program,Year,Period,Week Ending,Geo Level,State,State ANSI,Ag District,Ag District Code,County,...,Zip Code,Region,watershed_code,Watershed,Commodity,Data Item,Domain,Domain Category,Value,CV (%)
0,SURVEY,2023,YEAR,NaN,STATE,ILLINOIS,17,NaN,NaN,NaN,...,NaN,NaN,0,NaN,CORN,CORN - ACRES PLANTED,TOTAL,NOT SPECIFIED,"11,500,000",NaN
1,SURVEY,2023,YEAR,NaN,STATE,ILLINOIS,17,NaN,NaN,NaN,...,NaN,NaN,0,NaN,SOYBEANS,SOYBEANS - ACRES PLANTED,TOTAL,NOT SPECIFIED,"10,000,000",NaN

In [26]:
usda_area["Data Item"].unique()

array(['CORN - ACRES PLANTED', 'SOYBEANS - ACRES PLANTED'], dtype=object)

In [ ]:
usda_area['Value']

In [4]:
state_area = usda_area[usda_area['Geo Level'] == 'STATE']
cnty_area = usda_area[usda_area['Geo Level'] == 'COUNTY']
#SUBSET COLUMNS
state_area = state_area[['Year', 'State', 'State ANSI', 'Commodity', 'Value']]
cnty_area = cnty_area[['Year', 'State', 'State ANSI', 'County', 'County ANSI', 'Commodity', 'Value']]
#Rename Columns
state_area.columns = ['Year', 'State', 'StateANSI', 'Crop', 'AreaAcres_usda']
cnty_area.columns = ['Year', 'State', 'StateANSI', 'County', 'CntyANSI', 'Crop', 'AreaAcres_usda']
#remove rows whose CntyANSI column is NaN
cnty_area = cnty_area.dropna(subset=['CntyANSI']) 
#convert CntyANSI to int with no decimal, and fill with leading zeros to make 3 digits
cnty_area['CntyANSI'] = cnty_area['CntyANSI'].astype(int).astype(str).str.zfill(3)
#convert State and County and Crop column to be uppercase for only the first letter
cnty_area['State'] = cnty_area['State'].str.title()
cnty_area['County'] = cnty_area['County'].str.title()
cnty_area['Crop'] = cnty_area['Crop'].str.title()
state_area['State'] = state_area['State'].str.title()
state_area['Crop'] = state_area['Crop'].str.title()
#remove comma in AreaAcres_usda column, and convert AreaAcres_usda to float
cnty_area['AreaAcres_usda'] = cnty_area['AreaAcres_usda'].str.replace(',', '').astype(float)
state_area['AreaAcres_usda'] = state_area['AreaAcres_usda'].str.replace(',', '').astype(float)
#convert Soybeans to Soybean
cnty_area['Crop'] = cnty_area['Crop'].str.replace('Soybeans', 'Soybean')
state_area['Crop'] = state_area['Crop'].str.replace('Soybeans', 'Soybean')

# Calculate area ratio

In [9]:
state_area.head()

   Year     State  StateANSI     Crop  AreaAcres_usda
0  2023  Illinois         17     Corn      11500000.0
1  2023  Illinois         17  Soybean      10000000.0
2  2023   Indiana         18     Corn       5500000.0
3  2023   Indiana         18  Soybean       5500000.0
4  2023      Iowa         19     Corn      13400000.0

In [11]:
state_area.shape

(696, 5)

In [15]:
print(state_area['State'].unique())
print(state_area['Crop'].unique())
print(state_area['Year'].unique())

['Illinois' 'Indiana' 'Iowa' 'Kansas' 'Kentucky' 'Michigan' 'Minnesota'
 'Missouri' 'Nebraska' 'Ohio' 'South Dakota' 'Wisconsin']
['Corn' 'Soybean']
[2023 2022 2021 2020 2019 2018 2017 2016]

In [13]:
state_area.tail()

       Year         State  StateANSI     Crop  AreaAcres_usda
12842  2016          Ohio         39  Soybean       4650000.0
12843  2016  South Dakota         46     Corn       5700000.0
12844  2016  South Dakota         46  Soybean       5000000.0
12845  2016     Wisconsin         55     Corn       4000000.0
12846  2016     Wisconsin         55  Soybean       1950000.0

In [21]:
for state in state_area['State'].unique():
    for year in [2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023]:
        corn_area = state_area[(state_area['State'] == state) & (state_area['Crop'] == 'Corn') & (state_area['Year'] == year)]['AreaAcres_usda'].values
        soybean_area = state_area[(state_area['State'] == state) & (state_area['Crop'] == 'Soybean')& (state_area['Year'] == year)]['AreaAcres_usda'].values
        cornsoy_ratio = corn_area / soybean_area
        print(state, year, cornsoy_ratio)

Illinois 2016 [1.14851485 1.21      ]
Illinois 2017 [1.05660377 1.10784314]
Illinois 2018 [1.01851852 1.00917431 1.03773585 1.01851852]
Illinois 2019 [1.05527638 1.07       1.06796117 1.06666667 1.05      ]
Illinois 2020 [1.09708738 1.04807692 1.07619048 1.10679612]
Illinois 2021 [1.03773585 1.04672897 1.01869159 1.03773585 1.03773585]
Illinois 2022 [1.         0.95535714 0.97272727 1.        ]
Illinois 2023 [1.15       1.15       1.01851852]
Indiana 2016 [0.99115044 1.04504505]
Indiana 2017 [0.89915966 0.93333333]
Indiana 2018 [0.88333333 0.82258065 0.83606557 0.89915966]
Indiana 2019 [0.92592593 0.94444444 1.03773585 0.96491228 0.94444444]
Indiana 2020 [0.93913043 0.94736842 1.07407407 0.94736842]
Indiana 2021 [0.95575221 0.94736842 0.89655172 0.94736842 0.94736842]
Indiana 2022 [0.8974359  0.87179487 0.86440678 0.88888889]
Indiana 2023 [1.         1.         0.98214286]
Iowa 2016 [1.46315789 1.43298969]
Iowa 2017 [1.33       1.31683168]
Iowa 2018 [1.32663317 1.34343434 1.35714286 1.32      ]
Iowa 2019 [1.4673913  1.47826087 1.49450549 1.44680851 1.4673913 ]
Iowa 2020 [1.43915344 1.4893617  1.51612903 1.45744681]
Iowa 2021 [1.27722772 1.32323232 1.34693878 1.27722772 1.27722772]
Iowa 2022 [1.27722772 1.23300971 1.21153846 1.27722772]
Iowa 2023 [1.3814433 1.3814433 1.2970297]
Kansas 2016 [1.25925926 1.24675325]
Kansas 2017 [1.06796117 1.04      ]
Kansas 2018 [1.14736842 1.11340206 1.04081633 1.13684211]
Kansas 2019 [1.40659341 1.39130435 1.25531915 1.15151515 1.39130435]
Kansas 2020 [1.27083333 1.1509434  1.26       1.27083333]
Kansas 2021 [1.17525773 1.26086957 1.23404255 1.17525773 1.17525773]
Kansas 2022 [1.08910891 1.08       1.08       1.08910891]
Kansas 2023 [1.29411765 1.29411765 1.2173913 ]
Kentucky 2016 [0.83798883 0.90909091]
Kentucky 2017 [0.67692308 0.69473684]
Kentucky 2018 [0.68205128 0.62380952 0.64       0.67      ]
Kentucky 2019 [0.91176471 0.94117647 0.97058824 0.81714286 0.91176471]
Kentucky 2020 [0.79459459 0.83783784 0.83333333 0.8       ]
Kentucky 2021 [0.83783784 0.79487179 0.79487179 0.86111111 0.86111111]
Kentucky 2022 [0.73846154 0.73170732 0.775      0.73846154]
Kentucky 2023 [0.81578947 0.81578947 0.84210526]
Michigan 2016 [1.15942029 1.16666667]
Michigan 2017 [0.98684211 0.9787234 ]
Michigan 2018 [0.96566524 1.         1.04651163 1.02173913]
Michigan 2019 [1.13636364 1.14285714 1.0952381  1.06818182 1.17142857]
Michigan 2020 [1.06818182 1.         1.13636364 1.06818182]
Michigan 2021 [1.09302326 0.97826087 1.         1.09302326 1.09302326]
Michigan 2022 [1.04444444 1.         0.95744681 1.04444444]
Michigan 2023 [1.17073171 1.17073171 1.14285714]
Minnesota 2016 [1.1192053  1.10810811]
Minnesota 2017 [0.98773006 0.96969697]
Minnesota 2018 [1.01935484 1.         0.94936709 1.01282051]
Minnesota 2019 [1.13868613 1.14492754 1.15942029 1.09589041 1.13043478]
Minnesota 2020 [1.0738255  1.09459459 1.13513514 1.08108108]
Minnesota 2021 [1.09803922 1.1038961  1.02564103 1.07792208 1.07792208]
Minnesota 2022 [1.0738255  1.10666667 0.975      1.08053691]
Minnesota 2023 [1.12       1.12       1.10596026]
Missouri 2016 [0.65178571 0.65454545]
Missouri 2017 [0.57142857 0.57522124]
Missouri 2018 [0.5982906  0.5862069  0.57627119 0.5982906 ]
Missouri 2019 [0.62745098 0.6372549  0.64150943 0.63636364 0.6372549 ]
Missouri 2020 [0.58974359 0.625      0.62068966 0.58974359]
Missouri 2021 [0.63157895 0.56779661 0.5862069  0.64035088 0.64035088]
Missouri 2022 [0.54918033 0.61016949 0.57377049 0.54918033]
Missouri 2023 [0.65178571 0.65178571 0.575     ]
Nebraska 2016 [1.89423077 1.83018868]
Nebraska 2017 [1.6754386 1.6754386]
Nebraska 2018 [1.69911504 1.76363636 1.66071429 1.68421053]
Nebraska 2019 [2.06122449 2.         2.         1.7962963  2.02      ]
Nebraska 2020 [1.96153846 1.96       2.05882353 1.96153846]
Nebraska 2021 [1.76785714 1.7962963  1.8        1.76785714 1.76785714]
Nebraska 2022 [1.66956522 1.73214286 1.70175439 1.66956522]
Nebraska 2023 [1.72727273 1.72727273 1.65217391]
Ohio 2016 [0.73195876 0.76344086]
Ohio 2017 [0.66666667 0.71      ]
Ohio 2018 [0.69306931 0.71717172 0.71134021 0.7       ]
Ohio 2019 [0.65116279 0.66666667 0.70212766 0.70707071 0.65116279]
Ohio 2020 [0.71717172 0.75       0.77083333 0.71428571]
Ohio 2021 [0.7244898  0.73469388 0.68       0.74226804 0.74226804]
Ohio 2022 [0.66666667 0.68686869 0.65686275 0.65686275]
Ohio 2023 [0.71428571 0.71428571 0.67647059]
South Dakota 2016 [1.07692308 1.14      ]
South Dakota 2017 [1.00884956 1.        ]
South Dakota 2018 [0.9380531  0.9122807  1.01785714 0.9380531 ]
South Dakota 2019 [1.24285714 1.28571429 1.09090909 1.15384615 1.22222222]
South Dakota 2020 [0.98989899 1.03846154 1.11111111 1.01010101]
South Dakota 2021 [1.12844037 1.09090909 0.98245614 1.10909091 1.10909091]
South Dakota 2022 [1.12745098 1.07272727 1.0877193  1.12745098]
South Dakota 2023 [1.16981132 1.16981132 1.11320755]
Wisconsin 2016 [2.06632653 2.05128205]
Wisconsin 2017 [1.81395349 1.86046512]
Wisconsin 2018 [1.75675676 1.69565217 1.75       1.77272727]
Wisconsin 2019 [2.17142857 2.13888889 1.85365854 1.88372093 2.2       ]
Wisconsin 2020 [1.95544554 1.95121951 2.         2.        ]
Wisconsin 2021 [1.88095238 1.77272727 1.84444444 1.88095238 1.88095238]
Wisconsin 2022 [1.8287037  1.77777778 1.60869565 1.8287037 ]
Wisconsin 2023 [1.9047619 1.9047619 1.7173913]

In [22]:
corn_area

array([4000000., 4000000., 3950000.])